* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v28_102 {
  width: 760px;
  height: 3414px;
  background: url("../images/v28_102.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v28_103 {
  width: 760px;
  height: 712px;
  background: rgba(255,255,255,1);
  padding: 50px 40px;
  margin: 50px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v28_104 {
  width: 680px;
  height: 379px;
  background: url("../images/v28_104.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 40px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v28_105 {
  width: 680px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 479px;
  left: 40px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v28_106 {
  width: 680px;
  height: 89px;
  background: url("../images/v28_106.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 34px 0px;
  opacity: 1;
  position: absolute;
  top: 573px;
  left: 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v28_107 {
  width: 680px;
  height: 21px;
  background: url("../images/v28_107.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 0px;
  overflow: hidden;
}
.v28_108 {
  width: 85px;
  height: 20px;
  background: url("../images/v28_108.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 43px;
  overflow: hidden;
}
.v28_109 {
  width: 58px;
  color: rgba(97,145,17,1);
  position: absolute;
  top: 2px;
  left: 27px;
  font-family: Abhaya Libre Medium;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v28_110 {
  width: 20px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 20px;
  overflow: hidden;
}
.v28_111 {
  width: 20px;
  height: 20px;
  background: rgba(97,145,17,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v28_112 {
  width: 95px;
  height: 18px;
  background: url("../images/v28_112.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 176px;
  overflow: hidden;
}
.v28_113 {
  width: 16px;
  height: 15px;
  background: url("../images/v28_113.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v28_117 {
  width: 70px;
  height: 18px;
  background: url("../images/v28_117.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 25px;
  overflow: hidden;
}
.v28_118 {
  width: 70px;
  color: rgba(97,145,17,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Geist;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v28_119 {
  width: 79px;
  height: 21px;
  background: url("../images/v28_119.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 320px;
  overflow: hidden;
}
.v28_120 {
  width: 21px;
  height: 21px;
  background: url("../images/v28_120.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v28_124 {
  width: 58px;
  color: rgba(97,145,17,1);
  position: absolute;
  top: 0px;
  left: 21px;
  font-family: Radio Canada Big;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.v28_125 {
  width: 77px;
  height: 19px;
  background: url("../images/v28_125.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 447px;
  overflow: hidden;
}
.v28_126 {
  width: 77px;
  height: 20px;
  background: url("../images/v28_126.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v28_127 {
  width: 55px;
  color: rgba(97,145,17,1);
  position: absolute;
  top: 0px;
  left: 22px;
  font-family: Saira;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v28_132 {
  width: 63px;
  height: 14px;
  background: url("../images/v28_132.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 572px;
  overflow: hidden;
}
.v28_133 {
  width: 63px;
  height: 14px;
  background: url("../images/v28_133.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}
.v28_134 {
  width: 44px;
  height: 14px;
  background: url("../images/v28_134.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  overflow: hidden;
}
.v28_135 {
  width: 10px;
  height: 10px;
  background: rgba(97,145,17,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 33px;
}
.v28_136 {
  width: 10px;
  height: 14px;
  background: rgba(97,145,17,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 21px;
}
.v28_137 {
  width: 10px;
  height: 10px;
  background: rgba(97,145,17,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 10px;
}
.v28_138 {
  width: 10px;
  height: 14px;
  background: rgba(97,145,17,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v28_139 {
  width: 15px;
  height: 10px;
  background: rgba(97,145,17,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
}
.v28_140 {
  width: 6px;
  height: 10px;
  background: rgba(97,145,17,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 9px;
}
.v28_141 {
  width: 760px;
  height: 721px;
  background: rgba(255,255,255,1);
  padding: 80px 40px;
  margin: 30px;
  opacity: 1;
  position: absolute;
  top: 712px;
  left: 0px;
  overflow: hidden;
}
.v28_142 {
  width: 395px;
  height: 68px;
  background: url("../images/v28_142.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 182px;
  overflow: hidden;
}
.v28_143 {
  width: 310px;
  color: rgba(56,69,7,1);
  position: absolute;
  top: 0px;
  left: 42px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v28_144 {
  width: 395px;
  color: rgba(93,93,93,1);
  position: absolute;
  top: 40px;
  left: 0px;
  font-family: Manrope;
  font-weight: Medium;
  font-size: 11px;
  opacity: 1;
  text-align: center;
}
.v28_145 {
  width: 680px;
  height: 463px;
  background: url("../images/v28_145.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 178px;
  left: 40px;
  overflow: hidden;
}
.v28_146 {
  width: 680px;
  height: 221px;
  background: url("../images/v28_146.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v28_147 {
  width: 330px;
  height: 221px;
  background: rgba(210,253,156,1);
  padding: 30px 20px;
  margin: 21px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v28_148 {
  width: 289px;
  height: 140px;
  background: url("../images/v28_148.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 30px;
  opacity: 1;
  position: absolute;
  top: 51px;
  left: 20px;
  overflow: hidden;
}
.v28_149 {
  width: 289px;
  color: rgba(56,69,7,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 90px;
  opacity: 1;
  text-align: center;
}
.v28_150 {
  width: 181px;
  color: rgba(56,69,7,1);
  position: absolute;
  top: 123px;
  left: 54px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v28_151 {
  width: 330px;
  height: 221px;
  background: rgba(210,253,156,1);
  padding: 30px 20px;
  margin: 21px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 350px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v28_152 {
  width: 234px;
  height: 145px;
  background: url("../images/v28_152.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 30px;
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 47px;
  overflow: hidden;
}
.v28_153 {
  width: 142px;
  height: 98px;
  background: url("../images/v28_153.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 46px;
}
.v28_154 {
  width: 231px;
  color: rgba(56,69,7,1);
  position: absolute;
  top: 128px;
  left: 1px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v28_155 {
  width: 680px;
  height: 222px;
  background: url("../images/v28_155.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 241px;
  left: 0px;
  overflow: hidden;
}
.v28_156 {
  width: 330px;
  height: 222px;
  background: rgba(210,253,156,1);
  padding: 26px 51px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v28_157 {
  width: 228px;
  height: 174px;
  background: url("../images/v28_157.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 7px 0px;
  margin: 31px;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 51px;
  overflow: hidden;
}
.v28_158 {
  width: 124px;
  height: 112px;
  background: url("../images/v28_158.png");
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 51px;
}
.v28_159 {
  width: 181px;
  color: rgba(56,69,7,1);
  position: absolute;
  top: 150px;
  left: 23px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v28_160 {
  width: 330px;
  height: 221px;
  background: rgba(210,253,156,1);
  padding: 30px 20px;
  margin: 21px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 350px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v28_161 {
  width: 289px;
  height: 114px;
  background: url("../images/v28_161.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 30px;
  opacity: 1;
  position: absolute;
  top: 77px;
  left: 20px;
  overflow: hidden;
}
.v28_162 {
  width: 199px;
  height: 67px;
  background: rgba(56,69,7,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 45px;
}
.v28_163 {
  width: 97px;
  color: rgba(56,69,7,1);
  position: absolute;
  top: 97px;
  left: 96px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v28_164 {
  width: 760px;
  height: 551px;
  background: rgba(255,255,255,1);
  padding: 80px 40px;
  margin: 30px;
  opacity: 1;
  position: absolute;
  top: 1434px;
  left: 0px;
  overflow: hidden;
}
.v28_165 {
  width: 481px;
  height: 30px;
  background: url("../images/v28_165.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 139px;
  overflow: hidden;
}
.v28_166 {
  width: 275px;
  color: rgba(56,69,7,1);
  position: absolute;
  top: 0px;
  left: 103px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v28_167 {
  width: 680px;
  height: 331px;
  background: url("../images/v28_167.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 140px;
  left: 40px;
  overflow: hidden;
}
.v28_168 {
  width: 330px;
  height: 331px;
  background: url("../images/v28_168.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 19px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v28_169 {
  width: 330px;
  height: 256px;
  background: url("../images/v28_169.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 21px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v28_170 {
  width: 330px;
  height: 56px;
  background: url("../images/v28_170.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 275px;
  left: 0px;
  overflow: hidden;
}
.v28_171 {
  width: 330px;
  color: rgba(56,69,7,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Manrope;
  font-weight: Medium;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v28_172 {
  width: 330px;
  color: rgba(93,93,93,1);
  position: absolute;
  top: 14px;
  left: 0px;
  font-family: Manrope;
  font-weight: Medium;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v28_173 {
  width: 330px;
  height: 317px;
  background: url("../images/v28_173.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 19px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 350px;
  overflow: hidden;
}
.v28_174 {
  width: 330px;
  height: 256px;
  background: url("../images/v28_174.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 21px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v28_175 {
  width: 330px;
  height: 42px;
  background: url("../images/v28_175.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 275px;
  left: 0px;
  overflow: hidden;
}
.v28_176 {
  width: 330px;
  color: rgba(56,69,7,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Manrope;
  font-weight: Medium;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v28_177 {
  width: 330px;
  color: rgba(93,93,93,1);
  position: absolute;
  top: 14px;
  left: 0px;
  font-family: Manrope;
  font-weight: Medium;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v28_178 {
  width: 760px;
  height: 550px;
  background: rgba(255,255,255,1);
  padding: 100px 40px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 1986px;
  left: 0px;
  overflow: hidden;
}
.v28_179 {
  width: 680px;
  height: 350px;
  background: url("../images/v28_179.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 100px;
  left: 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v28_180 {
  width: 760px;
  height: 378px;
  background: rgba(255,255,255,1);
  padding: 48px 40px;
  margin: 30px;
  opacity: 1;
  position: absolute;
  top: 2536px;
  left: 0px;
  overflow: hidden;
}
.v28_181 {
  width: 481px;
  height: 68px;
  background: url("../images/v28_181.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 139px;
  overflow: hidden;
}
.v28_182 {
  width: 481px;
  height: 30px;
  background: url("../images/v28_182.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v28_183 {
  width: 246px;
  color: rgba(56,69,7,1);
  position: absolute;
  top: 0px;
  left: 117px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v28_184 {
  width: 351px;
  color: rgba(93,93,93,1);
  position: absolute;
  top: 40px;
  left: 65px;
  font-family: Manrope;
  font-weight: Medium;
  font-size: 11px;
  opacity: 1;
  text-align: center;
}
.v28_185 {
  width: 680px;
  height: 152px;
  background: url("../images/v28_185.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 146px;
  left: 40px;
  overflow: hidden;
}
.v28_186 {
  width: 140px;
  height: 144px;
  background: url("../images/v28_186.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 15px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v28_187 {
  width: 140px;
  height: 115px;
  background: url("../images/v28_187.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 21px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v28_188 {
  width: 140px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 130px;
  left: 0px;
  font-family: Manrope;
  font-weight: Medium;
  font-size: 11px;
  opacity: 1;
  text-align: center;
}
.v28_189 {
  width: 140px;
  height: 144px;
  background: url("../images/v28_189.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 15px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 180px;
  overflow: hidden;
}
.v28_190 {
  width: 140px;
  height: 115px;
  background: url("../images/v28_190.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 21px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v28_191 {
  width: 140px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 130px;
  left: 0px;
  font-family: Manrope;
  font-weight: Medium;
  font-size: 11px;
  opacity: 1;
  text-align: center;
}
.v28_192 {
  width: 140px;
  height: 144px;
  background: url("../images/v28_192.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 15px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 360px;
  overflow: hidden;
}
.v28_193 {
  width: 140px;
  height: 115px;
  background: url("../images/v28_193.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 21px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v28_194 {
  width: 140px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 130px;
  left: 0px;
  font-family: Manrope;
  font-weight: Medium;
  font-size: 11px;
  opacity: 1;
  text-align: center;
}
.v28_195 {
  width: 140px;
  height: 144px;
  background: url("../images/v28_195.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 15px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 540px;
  overflow: hidden;
}
.v28_196 {
  width: 140px;
  height: 115px;
  background: url("../images/v28_196.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 21px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v28_197 {
  width: 140px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 130px;
  left: 0px;
  font-family: Manrope;
  font-weight: Medium;
  font-size: 11px;
  opacity: 1;
  text-align: center;
}
.v28_198 {
  width: 760px;
  height: 500px;
  background: rgba(255,255,255,1);
  padding: 50px 40px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 2914px;
  left: 0px;
  overflow: hidden;
}
.v28_199 {
  width: 680px;
  height: 350px;
  background: url("../images/v28_199.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 65px 40px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v28_200 {
  width: 310px;
  height: 96px;
  background: url("../images/v28_200.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 14px;
  opacity: 1;
  position: absolute;
  top: 220px;
  left: 40px;
  overflow: hidden;
}
.v28_201 {
  width: 310px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
